In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,3], [4,7], [3,6]],
                 index = ['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       3
viper               4       7
sidewinder          3       6

In [4]:
df.loc['viper']

max_speed    4
shield       7
Name: viper, dtype: int64