## Loan Data

In [1]:
from sklearn.preprocessing import StandardScaler

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, precision_recall_curve

In [4]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [5]:
from sklearn.linear_model import LinearRegression, LogisticRegression

In [6]:
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [8]:
from sklearn.svm import SVC
from sklearn.svm import SVR

In [9]:
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD

In [10]:
df = pd.read_csv('loan_data.csv',index_col=None)

In [11]:
df.columns

Index(['credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc',
       'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'pub.rec', 'not.fully.paid'],
      dtype='object')

In [12]:
df.shape

(9578, 14)

In [13]:
df.columns = [i.replace('.', '_') for i in df.columns]
df.columns

Index(['credit_policy', 'purpose', 'int_rate', 'installment', 'log_annual_inc',
       'dti', 'fico', 'days_with_cr_line', 'revol_bal', 'revol_util',
       'inq_last_6mths', 'delinq_2yrs', 'pub_rec', 'not_fully_paid'],
      dtype='object')

In [14]:
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 9578
Number of columns: 14

In [15]:
df.head()

,credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

#### Understand your variables

In [16]:
variables = pd.DataFrame(columns=['Variable','Number of unique values','Values'])
variables

Empty DataFrame
Columns: [Variable, Number of unique values, Values]
Index: []

In [17]:
# Understand your variables
for index, var in enumerate(df.columns):
    variables.loc[index]=[var, df[var].nunique(), df[var].unique().tolist()]
variables

# Join with the variables dataframe
var_dict = pd.read_csv('variable_explanation.csv', index_col=0)
variables.set_index('Variable').join(var_dict)

,Number of unique values,Values,Explanation
Variable,,,
credit_policy,2,"[1, 0]",1 if the customer meets the credit underwritin...
purpose,7,"[debt_consolidation, credit_card, all_other, h...",The purpose of the loan.
int_rate,249,"[0.1189, 0.1071, 0.1357, 0.1008, 0.1426, 0.078...",The interest rate of the loan (more risky borr...
installment,4788,"[829.1, 228.22, 366.86, 162.34, 102.92, 125.13...",The monthly installments owed by the borrower ...
log_annual_inc,1987,"[11.35040654, 11.08214255, 10.37349118, 11.299...",The natural log of the self-reported annual in...
dti,2529,"[19.48, 14.29, 11.63, 8.1, 14.97, 16.98, 4.0, ...",The debt-to-income ratio of the borrower (amou...
fico,44,"[737, 707, 682, 712, 667, 727, 722, 677, 662, ...",The FICO credit score of the borrower.
days_with_cr_line,2687,"[5639.958333, 2760.0, 4710.0, 2699.958333, 406...",The number of days the borrower has had a cred...
revol_bal,7869,"[28854, 33623, 3511, 33667, 4740, 50807, 3839,...",The borrower's revolving balance (amount unpai...
revol_util,1035,"[52.1, 76.7, 25.6, 73.2, 39.5, 51.0, 76.8, 68....",The borrower's revolving line utilization rate...
inq_last_6mths,28,"[0, 1, 2, 3, 4, 5, 6, 8, 7, 33, 9, 18, 14, 15,...",The borrower's number of inquiries by creditor...
delinq_2yrs,11,"[0, 1, 2, 4, 3, 5, 6, 13, 7, 8, 11]",The number of times the borrower had been 30+ ...
pub_rec,6,"[0, 1, 2, 3, 4, 5]",The borrower's number of derogatory public rec...
not_fully_paid,2,"[0, 1]",1 if the loan is not fully paid; 0 otherwise.