In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1,3], [4,7], [3,6]],
                 index = ['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       3
viper               4       7
sidewinder          3       6

In [25]:
df.loc['viper']      # по метке

max_speed    4
shield       7
Name: viper, dtype: int64

In [26]:
df.iloc[0]           # по индексу

max_speed    1
shield       3
Name: cobra, dtype: int64

In [21]:
data = pd.DataFrame(np.arange(25).reshape(5,5),
                   index=list('ghasj'),
                   columns=['id','name','features',10,12])
data

   id  name  features  10  12
g   0     1         2   3   4
h   5     6         7   8   9
a  10    11        12  13  14
s  15    16        17  18  19
j  20    21        22  23  24

In [14]:
data.loc['A']

id          0
name        1
features    2
10          3
12          4
Name: A, dtype: int32

In [30]:
data.iloc[4]

id          20
name        21
features    22
10          23
12          24
Name: j, dtype: int32